.advantages{

    @include tablet {
         display: flex;
         flex-wrap: wrap;
         margin: -15px;
        }
    }

.advantages__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--portfolio-btn-cl); 
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
   }

.advantages__title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @include tablet {
        text-align: left;
    }

}

.advantages__text {
    font-size: 14px;
    line-height: calc(24 /14);
    letter-spacing: 0.03em;    
    color: var(--second-cl);
}
.advantages__item {
    
    @include tablet {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
        }

    @include desktop {
         width: calc((100% - 4 * 30px) / 4); }

    &:not(:last-child) {
        @include tablet {
          margin-bottom: 30px;  
        }
    }
}

@media screen and (max-width: 767px) {
    .advantages__item:not(:last-child) {
        padding-bottom: 30px;

    }
}


 