
  .footer {
    background-color: var(--main-section-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
   
    margin-left: auto;
    margin-right: auto;

   @media screen and (min-width:1200px) {
     max-width: 1600px;
          
  }
  }

  .footer__conteiner {
    
    gap: 70px;
    text-align: center;
    
    
    @media screen and (min-width:1200px) {
      padding: 0;
  }

    @media screen and (min-width:1200px) {
       display: flex;
       align-items: baseline;
       text-align: start;
       justify-content: space-between;
       padding-right: 15px;
       padding-left: 15px;
   }
  }

  .footer__contacts {
    margin-bottom: 60px;

    @media screen and (min-width:768px) {
      display: flex;  
      flex-wrap: wrap;  
      justify-content: space-around; 
      align-items: baseline;
      
  }

  @media screen and (min-width:1200px) {
    gap: 85px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0;
      
      
  }
}

  .footer__date {
    margin-bottom: 60px;

  @include tablet {
    margin-bottom: 0;
  }
  }

  .footer__list {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
  
  }

  .footer__adress {
    color: var(--main-section-cl);
    margin-bottom: 9px;
  }

  .footer__item {
    color: rgba(255, 255, 255, 0.6);
  

        &:not(:last-child){
            margin-bottom: 9px;
  }
}

  .footer__title{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-section-cl);
    margin-bottom: 20px;
    
}

.footer__icon {
    fill: var(--main-section-cl);
    

}
.footer__link{
    background: rgba(255, 255, 255, 0.1);
}

