
.work{
    display: none;
    
    @media screen and (min-width: 1200px) {
        display: flex;
        margin: -15px;
        align-items: center;
        justify-content: center;
        
        
    }
    
}

.work.container{
        
           padding-top: 0; 
        }

.work__item{
    position: relative;
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
    }


.work__desc{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.work__title {    
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-section-cl);
}
