.form__btn{
    background: var(--blue-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-family: var(--main-font);

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--main-section-cl);
    padding: 10px 28px;
    gap: 10px;
  }

