
.contacts {
    display: none;
        
    @include tablet {
    display: inline-block;
    margin-left: auto;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
    justify-content: center;
    }

    @include desktop {
        display: flex;
        margin-left: auto;
        
    }
   
 }

.contacts__icon {
    fill: var(--second-cl);
    transition: fill var(--time-function);
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 8px;
 } }

.contacts__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--second-cl);
    letter-spacing: 0.02em;
    justify-content: center;
    align-items: center;
    
    
    transition: color var(--time-function), fill var(--time-function);

    @include desktop {
        display: flex;
        gap: 10px;
}

    &:hover,
    &:focus {
            color: var(--blue-cl);
            fill: var(--blue-cl);}

    &:hover .contacts__icon,
    &:focus .contacts__icon {
            fill: var(--blue-cl);}
        
        
        }
.contacts__item:not(:last-child) {
    padding-bottom: 10px;

    @include desktop {
        padding-bottom: 0;
        margin-right: 50px;
}
  } 



