
.modal__btn {
    position: absolute;
    top: 14px;
    right: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--main-section-cl) ; 
    cursor: pointer;
}

.modal__btn:hover, .modal__btn:focus {
 fill: var(--blue-cl);
}
