
  .socials {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--main-section-cl);
    border-radius: 50%;
    transition: background-color var(--time-function);
   
     &:hover,
     &:focus {
    background-color: #2196F3;
  }

}

  .socials__icon {
    fill: var(--soc-link-cl);
       
    transition:  background-color var(--time-function), fill var(--time-function);
      .socials__link:hover &,
      .socials__link:focus & {
          fill: var(--main-section-cl);
  }
  
  }
  

  
