.section {

    //padding-top: 60px;
    padding-bottom: 60px;

.section__title{
    text-align: center;
    margin-bottom: 30px;
    
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    letter-spacing: 0.03em;
    margin-top: 0%;
    padding-top: 60px;
    

    @include desktop {
        font-size: 36px;
        line-height: calc(42 / 36);
        margin-bottom: 50px;
        padding-top: 0;
   }
}    

@include desktop {
     padding: 94px 0;
}
   
}


.section__no-padding-top{
    display: none;
    padding-top: 0;   
    @include desktop {
        display: block;
   }
   
}



.section__ohter-background{
    background-color: var(--portfolio-btn-cl);
}

.portfolio-section {
    padding: 60px;
}