

 .checkbox {
    margin-bottom: 30px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: var(--second-cl);
 }

 .checkbox__label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}


 .checkbox__input:checked + .checkbox__icon .checkbox__icon-checked {
    opacity: 1;
 }

 .checkbox__icon-checked{
    opacity: 0;
    fill: var(--blue-cl);
    transition: var(--time-function);
 }

 .checkbox__input:checked + .checkbox__icon .checkbox__icon-unchecked {
    opacity: 0;
 }
 .checkbox__icon-unchecked {
    opacity: 1;
    transition: var(--time-function);
 }

 .checkbox-__selected {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: var(--second-cl);
    user-select: none;
}

.checkbox__link {
    color: var(--blue-cl);
}
