
.modal-form {
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

.modal-form__title{
    display: block;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;

}

 .modal-form__group {
    
    display: block;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: var(--second-cl);
    margin-bottom: 10px;
 
 
        &:last-child {
            margin: 0px;
    }
 }
 

 .modal-form__group .modal-form__imput{
    
    margin: 0;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
 }

 .modal-form__imput{
    width: 100%;
    padding-left: 42px;
    padding-right: 42px;
    outline: transparent;
    transition: border-color var(--time-function);
 
        &:focus, 
        &:hover{
            border-color: var(--blue-cl);
 }
        &:focus + .modal-form__icon,
        &:hover + .modal-form__icon {
            fill: var(--blue-cl);
 }
}
 
 .modal-form__label{
    position: relative;
    display: block;
    margin-bottom: 4px;
 }

 .modal-form__text {
    display: block;
    margin-bottom: 4px;
 }

 .modal-form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition: var(--time-function);
}

 .coment {
    display: block;
    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    width: 100%;
    
        &::placeholder{
            color: rgba(117, 117, 117, 0.5);
            font-family: var(--main-font);
            font-weight: 400;
            font-size: 12px;
            line-height: calc(14 / 12);
            letter-spacing: 0.01em;
}
 }

