:root{
    /* fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;


    /* text colors*/
    --main-txt-cl:#212121;
    --second-cl:#757575;
    --blue-cl: #2196F3;
    --main-section-cl: #FFFFFF;
    --soc-link-cl:#AFB1B8;
   

    /* background colors */
    --main-section-bg-cl: #2F303A;
    --portfolio-btn-cl: #F5F4FA;
    --overlay-cl: rgba(33, 150, 243, 0.9);

    /* others */
    --header-border-cl: #ECECEC;
    --portfolio-border-cl:#EEEEEE;

    --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   

}



    
